extends layout.pug 

block content 
    h1 Sign in
    form(action="/login" method="post")
        section
             label(for="username") Username 
             input(name="username", required) 
        section
            label(for="password") Password 
            input(name="password", required) 
        button(type="submit") Sign in 
        a(href="/") Nevermind
        section 
            p #[span Don't have an account yet?] #[a(href="/signup") Sign up here!]
